* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(42, 54, 71);
  background-color: rgb(246, 247, 248);
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.max_width {
  max-width: 1920px;
  margin: 0 auto;
}

.d_none{
  display: none;
}

footer{
  margin-top: auto;
}

